input{
  border-radius: 25px;
}

.CustomH2{
  margin-top: 2em;
  text-align: center;
}

.head{
  margin-right: 4em;
  margin-left: 4em;
}

.CustomDanger{
 color: red;
 font-size: auto;
}

.btn-primary{
  font-size: 2em;
}

#sellist{
  height: 2em; 
  width: -webkit-fill-available;
  width: -moz-available;
  text-align: center;
}

.btn-success{
  border-radius: 25px;
  text-align:center; 
  width: -moz-available;
  width: -webkit-fill-available;
  margin-bottom: 1em;
  margin-top: 0.5em;
  font-size: 3em;
  border: 1px solid black;
}

hr{
  margin-right: 4em;
  margin-left: 4em;
  margin-bottom: 0;
  border: 1px solid grey;
}

.navbar{
  margin-left: 2em;
  margin-right: 2em;
  justify-content: center;
  font-size: auto;
}


.shopppingCart{
    border-radius: 25px;
    margin-right: 4em;
    margin-left: 4em;
    height: 30%;
    bottom: 0;
    right: 0;
}

select{
    font-size:50px;
    text-align: center;
}

select#fixed {
    -webkit-appearance: none;
}

.btn{
    border-radius: 25px;
    margin-left: 0.1em; 
    margin-right: 0.1em; 
    margin-top: 0.2em; 
    width: 200px; 
    height: 100px;
    border: 1px solid black;
}

.btnCard{
    border-radius: 25px;
    width: 100%;
    font-size: 2em;
    background-color: #0069d9;
    color: white;
}

.form-control{
    font-size: 1.5em; 
    text-align: center;
}

.button{
  margin: 0.4;
  width: 10em; 
  font-size: 2.2em;
  background-color: gray;
}

h3{ 
  color: white;
  margin-bottom: 1em;
}

h2{
  text-align: center;
  font-size: 5em;
  
  
  color: white;
  top: 0;
  left: 0;
  right: 0;
  
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

  
  /* Position the content inside the overlay */
  .overlay-content {
    overflow: auto;
    position: relative;
    text-align: center; /* Centered text/links */
    margin-top: 3em; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  
  /* When you mouse over the navigation links, change their color */
  .overlay button:hover, .overlay a:focus {
    color: red;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    right: 0;
    font-size: 8em;
    color: red;
    z-index: 3;
    top: 0;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } 

  .overlay {
    position: fixed; /* Sit on top of the page content */
    overflow: auto;
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.95); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

