.shopppingCart{
    position: absolute;
    float: right;
    margin-left: 70%;
    height: 30%;
    bottom: 0;
    right: 0;
   
    z-index: -1;
}

select{
    font-size:50px;
    text-align: center;
}

select#fixed {
    -webkit-appearance: none;
}

.btn{
    float: left; 
    margin-left: 0.3em; 
    margin-right: 0.3em; 
    margin-top: 0.3em; 
    width: 6em; 
    font-size: 3em;
    border: 1px solid black;
    padding-bottom: 15px;
}

.btnCard{
    width: 20em;
    font-size: 2em;
    background-color: darkred;
    color: white;
}

.form-control{
    font-size: 2em; 
    text-align: center;
}
  
  /* Position the content inside the overlay */
  .overlay-content {
    overflow: auto;
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  
  /* When you mouse over the navigation links, change their color */
  .overlay button:hover, .overlay a:focus {
    color: red;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    
    right: 0;
    font-size: 10em;
    color: red;
    z-index: 3;
    top: 0;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } 

  .overlay {
    position: fixed; /* Sit on top of the page content */
    overflow: auto;
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  .button{
    margin: 0.4;
    width: 10em; 
    font-size: 2.2em;
    background-color: gray;
  }

  h2{
    text-align: center;
    font-size: 5em;
    
    
    color: white;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
